.side-bar
  .side-bar__uesr-name
    .side-bar__uesr-list
      .side-bar__name masa
      %ulside-bar__icon-list
        %liside-bar__icon
          = link_to "#", class: "side-bar__icon" do
            =icon('fas', 'edit') 
          = link_to "#", class: "side-bar__icon" do
            =icon('fas', 'cog') 
  .side-bar__group-list
    .side-bar__group
      .side-bar__nema techcamp
      .side-bar__message まだメッセージがありません